*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: rgb(8, 1, 24);
}

main{
    width: 50%;
   
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.top {  width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
flex-direction: row;}

.down {  width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
flex-direction: row;}

.second_down {width: 35%;
    display:flex;
    flex-direction: column;
}
.A{
    background-color: brown;
    padding: 4em;

   
}
.B{
    background-color: rgb(252, 236, 14);
    padding: 2em;

}
.C{
    background-color: rgb(17, 236, 109);
    padding: 4em;
   
}
.D{
    background-color: rgb(20, 191, 221);
    padding: 2em;
    margin: 5%;
    display:flex;
    flex-direction: row
}
.E{
    background-color: rgb(18, 171, 218);
    padding: 2em;
    margin: 5%;
    display:flex;
    flex-direction: row;
}



